/* ================= LIGHT MODE ================= */

.light-calendar {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
}

.light-calendar .react-datepicker__header {
  color: white !important;
  background-color: #3673f8 !important;
  border-bottom: 1px solid #e5e7eb;
}

.light-calendar .react-datepicker__current-month,
.light-calendar .react-datepicker__day-name,
.light-calendar .react-datepicker__day {
  color: #111827;
}

.light-calendar .react-datepicker__day:hover {
  background-color: #3673f8;
  color: white;
}

.light-calendar .react-datepicker__day--selected {
  background-color: #3673f8;
  color: white;
}


/* ================= DARK MODE ================= */

.dark-calendar {
  background-color: #100f0f;
  border: 1px solid #444;
}

.dark-calendar .react-datepicker__header {
  color: white !important;
  background-color: #032a7e;
  border-bottom: 1px solid #6c6b6b;
}

.dark-calendar .react-datepicker__current-month,
.dark-calendar .react-datepicker__day-name,
.dark-calendar .react-datepicker__day {
  color: white;
}

.dark-calendar .react-datepicker__day:hover {
  background-color: #032a7e;
  color: white;
}

/* Selected Day */
.dark-calendar .react-datepicker__day--selected {
  background-color: #032a7e;
  color: white;
}

/* Disabled (past) days */
.dark-calendar .react-datepicker__day--disabled,
.light-calendar .react-datepicker__day--disabled {
  opacity: 0.35;
  cursor: not-allowed;
}




/* ================= TIME LIGHT MODE ================= */

/* Time container */
.light-calendar .react-datepicker__time-container {
  border-left: 1px solid #e5e7eb;
}

/* Time box */
.light-calendar .react-datepicker__time {
  background-color: #ffffff;
}

/* Time list */
.light-calendar .react-datepicker__time-list {
  background-color: #ffffff;
}

/* Each time item */
.light-calendar .react-datepicker__time-list-item {
  color: #111827;
}

/* Hover */
.light-calendar .react-datepicker__time-list-item:hover {
  background-color: #adafb6 !important;
  color: #185ef4;
}

/* Selected time */
.light-calendar .react-datepicker__time-list-item--selected {
  background-color: #3673f8 !important;
  color: white;
}


/* Light mode time header */
.light-calendar .react-datepicker__time-container .react-datepicker__header {
  background-color: #3673f8;
  color: white;
}


/* ================= TIME DARK MODE ================= */


/* Time container */
.dark-calendar .react-datepicker__time-container {
  border-left: 1px solid #444;
}

/* Time box */
.dark-calendar .react-datepicker__time {
  background-color: #100f0f;
}

/* Time list */
.dark-calendar .react-datepicker__time-list {
  background-color: #100f0f;
}

/* Time item */
.dark-calendar .react-datepicker__time-list-item {
  color: white;
}

/* Hover */
.dark-calendar .react-datepicker__time-list-item:hover {
  color: #032a7e;
}

/* Selected */
.dark-calendar .react-datepicker__time-list-item--selected {
  background-color: #032a7e !important;
  color: white !important;
}

/* Dark mode time header text */
.dark-calendar .react-datepicker_time-container .react-datepicker_header,
.dark-calendar .react-datepicker_time-container .react-datepicker_header * {
  background-color: #032a7e !important;
  color: white !important;
}